/*CSS RESET*/
* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*GENERICS*/
body {
font-family: 'Montserrat', sans-serif;
}

/*UTILITIES*/
.container {
    min-width: 576px;
    margin: 0 auto;
}

.border {
    border: 2px dashed lightgray;
}

.opacity {
    opacity: 0.5;
}

.none {
    display: none;
}

.grey {
    color: grey;
}

.white {
    color:white
}

.block {
    display: block;
}

/*DIVISIONE INIZIALE DEI CONTENITORI*/
.up-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 100px);
    overflow: auto;
    padding-bottom: 100px;
}

.sidebar {
    flex-basis: 15%;
    max-width: 75px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex-basis: 10%;
    min-height: 100px;
    background-color: rgb(8,11,18);
    width: 100%;
    box-shadow: 0 1px 3px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    flex-basis: 90%;
    background-color: rgb(20,25,34);
}

footer {
    min-height: 100px;
    background-color: rgb(40,40,40);
    box-shadow: 0 1px 3px gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/*SIDEBAR*/
.sidebar-up > ul > li {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-down > ul > li:last-child {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.sidebar-down > ul > li:first-child {
    font-size: 20px;
    padding-left: 10px;
}

.normal-size {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.big-size {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}


.sidebar-down {
    width: fit-content;
}

/*MAIN*/
.main-navbar {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main-navbar li {
    color: lightgray;
    display: inline;
    padding: 20px 10px;
}

.main-navbar ul {
    list-style-type: none;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

h3 {
    padding: 5px 20px;
}

.music-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.music-card {
    flex-basis: calc(100% / 2 - 10px);
    height: 300px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-card-img > img {
    max-width: 100%;
    height: 200px;
    display: block;
}

.music-card-title {
    font-size: 15px;
    color: white;
    padding: 10px 0;
}

.music-card-subtitle {
    font-size: 10px;
    color: grey;
}


/*BUTTON*/
.header-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
    color: white;
    border-radius: 20%;
    height: 40px;
}

/*FOOTER*/
.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-navbar-left {
    flex-basis: 30%;
    margin-top: 10px;
    height: 80px;
    display: flex;
}

.left-content {
    flex-basis: calc(100% / 3);
    align-self: center;
    padding: 0 5px;
}

.footer-navbar-center {
    flex-basis: 40%;
    margin-top: 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.center-content {
    flex-basis: calc(100% / 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-bar {
    height: 5px;
    background-color: grey;
    border-radius: 10%;
    width: 50%;
}

.progress-bar .value {
    width: 20%;
    height: 100%;
    background-color: white;
    height: 5px;
}

.footer-navbar-right {
    flex-basis: 30%;
    margin-top: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.footer-navbar-right > i {
    padding: 0 5px;
}

.left-content > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 5px 5px;
    object-fit: cover;
}

.left-content ul {
    list-style-type: none;
    padding-top: 5px;
}

/*MEDIA QUERY PER SCHERMO DA 576PX A 768PX*/
@media screen and (min-width: 768px) {
    .container {
        min-width: 700px;
    }

    .none {
        display: inline;
    }

    .sidebar {
        min-width: 200px;
        max-width: 200px;
    }

    .footer-navbar-left {
        max-width: 200px;
    }

    .footer-navbar-right {
        max-width: 250px;
    }


}

/*MEDIA QUERY PER SCHERMO DA 768PX A 992PX*/
@media screen and (min-width: 992px) {
    .container {
        min-width: 900px;
    }

    .music-card {
        flex-basis: calc(100% / 4 - 10px);
        max-height: 300px;
        max-width: 280px;
    }
}

/*MEDIA QUERY PER SCHERMO DA 992PX A 1200PX*/
@media screen and (min-width: 1200px) {
    .container {
        min-width: 1100px;
    }

    .music-card {
        flex-basis: calc(100% / 6 - 10px);
    }
}