/*CSS RESET*/
* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*GENERICS*/
body {
font-family: 'Montserrat', sans-serif;
}

/*UTILITIES*/
.container {
    min-width: 576px;
    margin: 0 auto;
}

.border {
    border: 2px dashed lightgray;
}

/*DIVISIONE INIZIALE DEI CONTENITORI*/
.up-container {
    display: flex;
    width: 100%;
    min-height: 1000px;
    overflow: auto;
}

.sidebar {
    flex-basis: 10%;
    background-color: rgb(0,0,0);
}

main {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
}

header {
    flex-basis: 10%;
    min-height: 100px;
    background-color: rgb(8,11,18);
    width: 100%;
    box-shadow: 0 1px 3px gray;
}

.content {
    flex-basis: 90%;
    background-color: rgb(20,25,34);
}

footer {
    min-height: 100px;
    background-color: rgb(40,40,40);
    box-shadow: 0 1px 3px gray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/*MEDIA QUERY PER SCHERMO DA 576PX A 768PX*/
@media screen and (min-width: 768px) {
    .container {
        min-width: 700px;
    }

    .sidebar {
        flex-basis: 25%;
    }
        
      main {
         flex-basis: 75%;
    }
}

/*MEDIA QUERY PER SCHERMO DA 768PX A 992PX*/
@media screen and (min-width: 992px) {
    .container {
        min-width: 900px;
    }
}

/*MEDIA QUERY PER SCHERMO DA 992PX A 1200PX*/
@media screen and (min-width: 1200px) {
    .container {
        min-width: 1100px;
    }
}